.container-fluid {
    padding: 1.5em 2.5em;
}
.main-flex {
    margin: 5% 15%;
}
/* Material Table */
.table-responsive {
    margin: 0 1em;
}
.mat-column-description {
    min-width: 20em !important;
}
.mat-column-image {
    width: 10% !important;
}
